@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
   box-sizing: border-box;

   font-family: "Roboto", sans-serif;

   --color1: #5d4a39;
   --color2: #a96f47;
   --color3: #fbce02;
   --color4: #f27b57;
   --color5: #fff;
   --color6: #091b1a;

   --border-radius: 1rem;
}

body {
   background-color: var(--color1);
}

/* Content container */

#content {
   height: 100vh;
   color: var(--color5);
   display: flex;
   flex-direction: column;
}

/* Main Content style (shared by all navs) */

.main-content {
   margin-top: 2rem;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-bottom: 5rem;
}

/* Header style */

.page-header {
   display: flex;
   align-items: center;
   justify-content: space-around;
   height: fit-content;
   flex-wrap: wrap;
   gap: 2rem;
   flex-shrink: 0;
   padding: 1.5rem;
}

.page-heading {
   font-size: 2.8rem;
}

.page-nav {
   display: flex;
   gap: 2rem;
   justify-content: center;
}

.nav-btn {
   padding: 1rem 2.2rem;
   border-radius: 1.5rem;
   border: none;
   background-color: var(--color4);
   color: var(--color5);
}

.nav-btn:active {
   transform: scale(1.1);
}

/* Home page style */

.home-page-content {
   color: var(--color5);
   gap: 6rem;
}

.description-container {
   display: flex;
   width: 100%;
   padding: 2rem;
   background-color: rgba(0, 0, 0, 0.4);
   gap: 2rem;
   justify-content: center;
   flex-wrap: wrap;
}

.img-credit {
   color: #fff;
}

.description {
   line-height: 2rem;
   width: min(100%, 700px);
}

.soup-and-bread-img {
   width: min(100%, 700px);
}

.hours-container {
   background-color: rgba(0, 0, 0, 0.4);
   width: 350px;
   padding: 2rem;
   text-align: center;
   border-radius: var(--border-radius);
}

.hours-heading {
   font-size: 2rem;
   margin-bottom: 2.5rem;
}

.hours {
   font-size: 1.2rem;
}

.hours:last-child {
   margin-top: 2rem;
   margin-bottom: 3rem;
}

/* Menu styles */

.menu-heading {
   font-size: 2.5rem;
}

.menu-container {
   display: flex;
   flex-direction: column;
   margin-top: 3rem;
   gap: 2rem;
   width: 90%;
}

.menu-group-heading {
   font-size: 1.5rem;
}

.menu-group {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 3rem;
   background-color: rgba(0, 0, 0, 0.4);
   padding: 2rem;
   border-radius: var(--border-radius);
}

.menu-items-group {
   display: flex;
   flex-wrap: wrap;
   gap: 2.5rem;
   justify-content: space-around;
   width: 100%;
}

.menu-item {
   display: flex;
   flex-direction: column;
   gap: 1.5rem;
   width: 300px;
   align-items: center;
   text-align: center;
}

.menu-item-heading {
   font-size: 1.4rem;
}

.menu-item-desc {
   line-height: 2rem;
}


/* Contact page style */

.contact-page-content {
   display: flex;
   gap: 3rem;
}

.contacts-heading {
   font-size: 2.5rem;
}

.contacts-container {
   background-color: rgba(0, 0, 0, 0.4);
   padding: 2.5rem 2rem;
   display: flex;
   flex-direction: column;
   gap: 1.5rem;
   border-radius: var(--border-radius);
}

.email-container, 
.phone-num-container {
   display: flex;
   gap: 0.5rem;
   font-size: 1.2rem;
   flex-direction: column;
}

.email-heading,
.phone-num-heading {
   font-weight: bold;
}


/* Footer style */

.footer {
   height: 5rem;
   width: 100%;
   background-color: var(--color2);
   margin-top: auto;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-shrink: 0;
}
